@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cairo+Play:wght@500;600&family=Caveat:wght@600&family=Chilanka&family=Fira+Sans:wght@300&family=Inter:wght@100&family=Noto+Sans:wght@300&family=Nova+Square&family=Playpen+Sans:wght@500&family=Poppins:ital,wght@1,300&family=Titillium+Web:wght@300&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    overflow-x: hidden;
}


.logo {
    color: black;
    font-size: 50px;
}

.logo span {
    color: lightskyblue;
}

.menu {
    bckground-color: white;
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu a {
    text-decoration-color: transparent;
    text-align: center;
}

.section-intro {
    height: 820px;
    background-image: url(../images/ice2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-intro h2 {
    text-align: center;
    font-size: 4em;
    font-weight: 700;
}

.section-intro p {
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
}

.about-section h3 {
    align-items: center;
    font-size: 40px;
    text-align: center;

}

.about-section p {
    align-items: center;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}



.navbar {
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Inter', sans-serif;
    margin: 0;
    border-radius: 10px;
}


/* Add a white background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: white;

}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 10px;
}

/* Add a black background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: lightskyblue;
    border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
}

.image-slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

img {
    width: 100%;
    border-radius: 30px;

}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 1
    }
}






.button1 {
    font-size: 20px;
    border-radius: 20px;
}

.button1 a {
    text-decoration: none;
    color: black;
}

.social-network {
    text-align: center;
    font-size: 20px;
}

.network a {
    color: lightskyblue;
    font-size: 50px;
}




#bg-food {}


#food {
    background-color: rgba(25, 25, 25, .7);
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    position: relative;
    min-height: 100vh;
}

#food-menu {
    z-index: 1;
    color: #eeecea;
    list-style-type: none;
    padding-top: 190px;
    padding-bottom: 30px;

    padding-left: 5%;
    padding-right: 5%;
}

.options {
    text-align: center;
    color: #e48935;
    font-family: 'Road Rage', sans-serif;
    font-size: 60px;
}

.options-list {
    text-align: center;
    list-style-type: none;
    padding-left: 0px;
}

.img-fluid {
    max-width: 750px;
    max-height: 750px;
}

#good-to-know {
    text-align: center;
    list-style-type: none;
    padding-left: 0px;
    color: #eeecea
}

#good-to-know h2 {
    text-align: center;
    color: #e48935;
    font-family: 'Road Rage', sans-serif;
    font-size: 60px;
}