@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cairo+Play:wght@500;600&family=Caveat:wght@600&family=Chilanka&family=Fira+Sans:wght@300&family=Inter:wght@100&family=Noto+Sans:wght@300&family=Nova+Square&family=Playpen+Sans:wght@500&family=Poppins:ital,wght@1,300&family=Titillium+Web:wght@300&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    overflow-x: hidden;
}


.logo {
    color: black;
    font-size: 50px;
}

.logo span {
    color: lightskyblue;
}

.menu {

    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu a {
    text-decoration-color: transparent;
    text-align: center;
}

.section-intro {
    height: 820px;
    background-image: url(../images/ice2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-intro h2 {
    text-align: center;
    font-size: 4em;
    font-weight: 700;
}

.section-intro p {
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    background: white;
    border-radius: 10px;
}

.about-section h3 {
    align-items: center;
    font-size: 40px;
    text-align: center;

}

.about-section p {
    align-items: center;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}



.navbar {
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Inter', sans-serif;
    margin: 0;
    border-radius: 10px;
}


/* Add a white background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: white;

}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 10px;
}

/* Add a black background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: lightskyblue;
    border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
}

.image-slideshow {
    max-width: 2000px;
    position: relative;
    margin: auto;
}

img {
    width: 100%;


}

.fade {
    animation-name: fade;
    animation-duration: 4s;
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

.button1 {
    font-size: 20px;
    border-radius: 20px;
}

.button1 a {
    text-decoration: none;
    color: black;
}

.button1:hover {
    background: lightskyblue;

}

.social-network {
    text-align: center;
    font-size: 20px;
    background: lightskyblue;

}

.network a {
    color: white;
    font-size: 50px;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: black;
    background: white;
    border-radius: 10px;
}

.banner-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.banner-text:hover {
    background: lightskyblue;
}

/* Menu */

.food-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

#food {

    max-height: 100%;
    width: 100%;
    max-width: 100%;
    position: relative;
    min-height: 100vh;
}

#food-menu {
    z-index: 1;
    color: black;
    list-style-type: none;
    padding-top: 190px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

.options {
    text-align: center;
    color: lightskyblue;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
}

.options:hover {
    background: grey;
    border-radius: 10px;


}

.options-list {
    text-align: center;
    list-style-type: none;
    padding-left: 0px;
    font-weight: bold;
}



#good-to-know {
    text-align: center;
    list-style-type: none;
    padding-left: 0px;
    color: black;
}

#good-to-know h2 {
    text-align: center;
    color: lightskyblue;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
}

.good-to-know h2:hover {
    background: grey;
    border-radius: 10px;
}

.container {
    margin: 50px auto;
    max-width: 1600px;
    padding: 30px 20px;
    position: relative;
}

img {
    max-width: 100%;
    border-radius: 15px;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}



.col {
    width: 100%;
}

.timeline-post {
    position: relative;
}

.timeline-post:nth-child(odd) {
    margin-top: 20px;
}

.timeline-post:nth-child(even) {
    margin-bottom: 0;
    margin-top: 100px;
}

.photo {
    position: relative;
}



.date-wrapper {
    position: absolute;
    right: 50%;
    margin-right: -25px;
    bottom: -25px;
}

.date-wrapper .date {
    width: 60px;
    height: 60px;
    text-align: center;
    background: white;
    padding-top: 14px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    border-color: black;
}

.date-wrapper .date .day {
    font-size: 20px;
    color: black;

}

.date-wrapper .date .year {
    font-size: 12px;
    color: black;
    text-transform: uppercase;
}



.timeline-post:nth-child(2n+3) {
    clear: both;
}

.timeline-post:nth-child(odd) .date-wrapper .date {
    float: right;
}

.timeline-post:nth-child(even) {

    margin-bottom: 0;
    margin-top: 20px;
}

.timeline-post:nth-child(even) .date-wrapper {
    bottom: -25px;
    right: 50%;
    margin-right: -25px;
}



.desc {
    text-align: center;
}

.desc h4 {
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    margin-top: 35px;
    margin-bottom: 15px;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-out
}

.owl-item .desc h4 {
    margin-top: 50px;
}

.desc h4:hover {
    color: lightskyblue;
}

.desc p {
    color: black;
    font-size: 20px;
    font-weight: 400;
}

@media (min-width: 768px) {
    #section_2 .owl-item {
        padding: 0 20px;
    }

    .post-type-archive-vesti .container {
        max-width: 1600px;
    }

    .archive .site-content {
        margin-top: 100px;
    }

    .col {
        width: 43%;
    }


    .date-wrapper {
        position: absolute;
        right: 150px;
        margin-right: 0px;
        bottom: auto;
    }

    .timeline-post:nth-child(odd) {
        float: left;
        margin-top: 0;
    }

    .timeline-post:nth-child(even) {
        float: right;
        margin-bottom: 0;
        margin-top: 50px;
    }

    .desc h4 {
        margin-bottom: 15px;
        margin-top: 20px;
        font-size: 30px;
    }

    .timeline-post:nth-child(odd) .date-wrapper {
        right: -77px;
        top: 55px;
    }

    .timeline-post:nth-child(even) .date-wrapper {
        left: -77px;
        bottom: 15px;
    }

    .timeline-post:nth-child(odd) .date-wrapper,
    .timeline-post:nth-child(even) .date-wrapper {
        width: 77px;
    }
}

@media (min-width: 850px) {
    .timeline-post:nth-child(odd) .date-wrapper {
        right: -85px;
    }

    .timeline-post:nth-child(even) .date-wrapper {
        left: -85px;
    }

    .timeline-post:nth-child(odd) .date-wrapper,
    .timeline-post:nth-child(even) .date-wrapper {
        width: 85px;
    }
}

@media (min-width: 1000px) {
    .timeline-post:nth-child(odd) .date-wrapper {
        right: -95px;
    }

    .timeline-post:nth-child(even) .date-wrapper {
        left: -95px;
    }

    .timeline-post:nth-child(odd) .date-wrapper,
    .timeline-post:nth-child(even) .date-wrapper {
        width: 95px;
    }
}

@media (min-width: 1100px) {
    .timeline-post:nth-child(odd) .date-wrapper {
        right: -100px;
    }

    .timeline-post:nth-child(even) .date-wrapper {
        left: -100px;
    }

    .timeline-post:nth-child(odd) .date-wrapper,
    .timeline-post:nth-child(even) .date-wrapper {
        width: 100px;
    }
}

@media (min-width: 1200px) {


    .timeline-post:nth-child(even) {
        margin-top: 100px;
    }

    .date-wrapper .date {
        width: 100px;
        height: 100px;
        padding: 23px;
    }

    .date-wrapper .date .day {
        font-size: 40px;
        line-height: 20px;
    }

    .date-wrapper .date .year {
        font-size: 20px;
        line-height: 5px;
    }

    .timeline-post:nth-child(odd) .date-wrapper {
        right: -132px;
        top: 55px;
    }

    .timeline-post:nth-child(even) .date-wrapper {
        left: -132px;
    }

    .timeline-post:nth-child(odd) .date-wrapper,
    .timeline-post:nth-child(even) .date-wrapper {
        width: 132px;
    }

    .owl-item .desc h4 {
        margin-top: 75px;
    }
}

@media (min-width: 1300px) {
    .timeline-post:nth-child(odd) .date-wrapper {
        right: -140px;
        top: 55px;
    }

    .timeline-post:nth-child(even) .date-wrapper {
        left: -140px;
    }

    .timeline-post:nth-child(odd) .date-wrapper,
    .timeline-post:nth-child(even) .date-wrapper {
        width: 140px;
    }
}

@media (min-width: 1400px) {
    .timeline-post:nth-child(odd) .date-wrapper {
        right: -146px;
        top: 55px;
    }

    .timeline-post:nth-child(even) .date-wrapper {
        left: -146px;
    }

    .timeline-post:nth-child(odd) .date-wrapper,
    .timeline-post:nth-child(even) .date-wrapper {
        width: 146px;
    }
}

@media (min-width: 760px) {
    .vertical-line::after {
        top: -10px;
        right: 50%;
        background-color: #a6a6a6;
        overflow: hidden;
        position: absolute;
        content: "";
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin-right: -5px;
    }

    .vertical-line::before {
        top: -10px;
        right: 50%;
        background-color: #a6a6a6;
        overflow: hidden;
        position: absolute;
        content: "";
        display: block;
        height: 100%;
        width: 2px;
        margin-right: -2px;
    }

    .date-wrapper::before {
        top: 50%;
        background-color: #a6a6a6;
        overflow: hidden;
        position: absolute;
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        margin-top: -2px;
        z-index: -10;
    }

}